body {
    background-color: #222831;
    margin:0;
}


header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #222831;
    mix-blend-mode: normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width:100%;
    
}

.nav_bar {
    list-style: none;
    padding-right: 2em;
}

    .nav_bar li {
        display: inline-block;
        padding-left: 1em;
        transition: 0.2s;
    }

li, a {
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
    font-size: 16px; 
    text-decoration: none;
    color: #EEEEEE;
    padding:.5em;
   
}

.nav_logo {
    margin-left: auto;
}

.nav_bar li a:hover {
    color: #00ADB5;
}

.logo {
    padding-left: 20px;
    cursor: pointer;
}





.main-info {
    min-height: 100vh;
    width: 80%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.left-info {
    grid-column: span 2;
    height: 100%;
    background-color: #393E46;
}

.right-section {
    grid-column: span 5;
    background-color: #222831;
    height: 100%;
}


.left-content {
    padding: 2.5rem 3.5rem;
}

.profile {
    width: 100%;
    padding-right:1em;
    border-bottom: 1px solid #002333;
}

.image {
    width: 100%;
    height: 100%;
    text-align: center;
    padding-right: 3px;
}

.profile img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding-right:3px;
    border: 8px solid #002333;
}

.name {
    font-size: 2rem;
    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.2rem 0;
}

.career {
    font-size: 1.2rem;
    color: #94D9EA;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 1rem;
}

.m-t {
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
     color: #f7f7f7ec;
    padding-top: 3rem;
}

.contact-info ul {
    padding-top: 2rem;
}

    .contact-info ul li {
        padding: .4rem 0;
        display: flex;
        align-items: center;
        color: #718096;
    }

        .contact-info ul li i {
            padding-right: 1rem;
            font-size: 1.2rem;
            color: #2D9CDB;
        }

.skills-side ul {
    padding-top: 2rem;
}

    .skills-side ul li {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: .4rem 0;
    }

.Pgb {
    width: 100%;
    height: .4rem;
    background-color: #03506F;
    position: relative;
    border-radius: 12px;
}

.progress {
    height: 100%;
    position: absolute;
    left: 0;
    background-color: #00ADB5;
    border-radius: 12px;
}

.js-progress {
    width: 10%;
}

.ps-progress {
    width: 20%;
}

.j-progress {
    width: 25%;
}

.c-progress {
    width: 30%;
}

.n-progress {
    width: 24%;
}




.skill-title {
    text-transform: uppercase;
    color: #f7f7f7;
    font-size: 1rem;
}

.sub-title {
    padding-top: 2rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    color: #f7f7f7;
}

.sub-para {
    color: #ccc;
    padding: .4rem 0;
}



.right-main-info {
    padding: 2rem 3rem;
}


.right-title {
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #00ADB5;
    margin-bottom: 1.2rem;
    position: relative;
}

    .right-title::after {
        content: "";
        position: absolute;
        width: 60%;
        height: .2rem;
        background-color: #00ADB5;
        border-radius: 12px;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }

.desp {
    line-height: 1.6rem;
    color: #EEEEEE;
    font-size: 1.1rem;
}




.sect {
    padding-bottom: 2rem;
}

.Time {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.tl-title {
    letter-spacing: 1px;
    font-size: 1.3rem;
    text-transform: uppercase;
    color: #EEEEEE;
    
}

.tl-title-2 { 
    color: #EEEEEE;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.3rem;
   
}

.tl-content { 
    position: relative;
    padding-bottom: 2rem;
    border-left: 1px solid #ccc;
    padding-left: 2rem;
   
}

.tl-title-2::before {
    content: "";
    position: absolute; 
    background-color: #00ADB5;
    border-radius: 50%;
    transform: translateX(-50%);
    left: 0;
    width: .7rem;
    height: .7rem;
   
}







button {
    margin-left: 40%;
    margin-bottom:2em;
}

/*Media Querries*/
@media screen and (max-width:800px) {
    .right-title::after {
        width: 40%;
    }
}

@media screen and (max-width:651px) {
    .right-title::after {
        width: 30%;
    }
}

@media screen and (max-width:760px) {
    .Time {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width:780px) {
    .left-info {
        grid-column: span 3;
    }

    .right-section {
        grid-column: span 4;
    }
}

@media screen and (max-width:1200px) {
    .main-info {
        grid-template-columns: repeat(1, 1fr);
    }

    .profile img {
        width: 60%;
    }
}

@media screen and (max-width:700px) {
    .profile img {
        width: 60%;
    }
}

@media screen and (max-width:350px) {
    .name {
        font-size: 1.5rem;
    }
}
